
.card  {
  width:300px;
  background:rgb(255, 255, 255);
  border-radius: 5px;
  font-size: 14px;
}

.card:hover  {
  background:rgb(240, 237, 237);
  box-shadow: 0 0 10px rgba(0,0,0,0.5); }

.pictures {
  width:300px;
  height:250px;
  opacity: 0.7;
  border-radius: 5px;
} 

.pictures:hover {
  cursor: pointer;
  opacity:1;
}

.btn {
  width:100px;
}

.favorBtn {
  background: rgb(255, 225, 55);
  color:white;
  margin:0;

}


.favorBtn {
background: black;
color:white;
font-family: 'Roboto', sans-serif;
margin:0;


}

.InfoBtn {
  background: black;
}